# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml

# Logs
*.log

# Angular / Node
node_modules/
dist/
.angular/
coverage/

# Java / Spring Boot
target/
*.class
*.jar
*.war

# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment
.env

# Docker
*.pid